.h2-cate{
    text-align: center;
    padding: 20px;
    background-color: white;
}

.cate-container{
    background-color: white;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
}

.cate-name{
    text-align: center;
}